<%- include('../partials/header') %>

<body>
    <h1 class="">Vault</h1>

    <div class="search-bar">
        <form class="searchBar" action="/games/search" method="GET">
            <div class="search-container">
                <input
                    type="text"
                    name="query"
                    placeholder="Search for game in vault"
                />
                <button type="submit" class="search-button">
                    <span>&#128269;</span>
                </button>
            </div>
        </form>
    </div>

    <div class="new-game">
        <a href="/games/new" class="web-feat-button" id="new-game">NEW GAME</a>
    </div>

    <div class="game-library">
        <% if (games.length > 0) { %> <% games.forEach(function(game) { %>
        <div class="game-tile">
            <img src="<%= game.image %>" alt="<%= game.title %> Image" />

            <div class="details">
                <h3><%= game.title %></h3>
                <p><strong>Genre:</strong> <%= game.genre %></p>
                <p><strong>Platform:</strong> <%= game.platform %></p>
                <p>
                    <strong>Release Year:</strong> <%=
                    game.releaseYear.toISOString().split('T')[0] %>
                </p>

                <div class="action-buttons">
                    <a href="/games/<%= game.id %>/edit" class="edit-button"
                        >Edit</a
                    >
                    <form
                        class="delete-form"
                        action="/games/<%= game.id %>?_method=DELETE"
                        method="POST"
                        onsubmit="return confirm('Are you sure you want to delete this game?');"
                    >
                        <button type="submit" class="delete-button">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <% }); %> <% } else { %>
        <p>No matching games found.</p>
        <% } %>
    </div>
</body>

<%- include('../partials/footer') %>
