<%- include('../partials/header') %>
<body>
    <h1 class="">Vault</h1>

        <div class="new-game">
                <a href="/games/new" class="web-feat-button" id="new-game">New game</a>
        </div>

    <div class="game-library">
        <% games.forEach(function(game) { %>
            <div class="game-tile">

                <img src="<%= game.image %>" alt="<%= game.title %> Image">

                <div class="details">
                    <h3><%= game.title %></h3>
                    <p><strong>Genre:</strong> <%= game.genre %></p>
                    <p><strong>Platform:</strong> <%= game.platform %></p>
                    <p><strong>Release Year:</strong> <%= game.releaseYear.toISOString().split('T')[0] %></p>


                    <a href="/games/<%= game.id %>/edit" class="edit-button">Edit</a>
                </div>
            </div>
        <% }); %>
    </div>



</body>

<%- include('../partials/footer') %>